# Visual Studio Code
.vscode/

# Linux
.directory

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

###############################################################################
# ARCHIVOS TEMPORALES
###############################################################################

tmp/
temp/

*.tmp
*.bak

###############################################################################
# VARIABLES DE ENTORNO
###############################################################################

.env
.env.*
!.env.example

###############################################################################
# DOCKER
###############################################################################

docker-data/
docker-volumes/

###############################################################################
# NODE
###############################################################################

node_modules/

###############################################################################
# CACHE
###############################################################################

.cache/
.cache-loader/

###############################################################################
# RESPALDOS
###############################################################################

backup/
backups/

config.js